 .center {

  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  border: 5px solid darkblue;

  padding: 10px;
   
  font-family: cursive;
  font-size: 200%

}

